# coding: utf-8

"""
    Receive Side Callback API

    To facilitate the implementation of mVisa, Visa provides mVisa Receive Side API specifications to clients who implement a set of outbound RESTful APIs (Receive Side APIs) so that Visa can call these APIs to request clients to process the transactions over the Internet.

    OpenAPI spec version: v1
    Contact: 
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re
import json

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ReceiveSideApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()

        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def postcash_in(self, cash_inpost_payload, **kwargs):
        """
        Receive Cash-in API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in(cash_inpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInpostPayload cash_inpost_payload: Request body for Receive Cash-In API (required)
        :return: CashInpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postcash_in_with_http_info(cash_inpost_payload, **kwargs)
        else:
            (data) = self.postcash_in_with_http_info(cash_inpost_payload, **kwargs)
            return data

    def postcash_in_with_http_info(self, cash_inpost_payload, **kwargs):
        """
        Receive Cash-in API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in_with_http_info(cash_inpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInpostPayload cash_inpost_payload: Request body for Receive Cash-In API (required)
        :return: CashInpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cash_inpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postcash_in" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cash_inpost_payload' is set
        if ('cash_inpost_payload' not in params) or (params['cash_inpost_payload'] is None):
            raise ValueError("Missing the required parameter `cash_inpost_payload` when calling `postcash_in`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/transactions/receive/ci'.replace('{format}', 'json')
        resource_path = 'pushpayment/transactions/receive/ci'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'cash_inpost_payload' in params:
            body_params = params['cash_inpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashInpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postcash_in_0(self, cash_inpost_payload, **kwargs):
        """
        Receive Cash-Out API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in_0(cash_inpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInpostPayload cash_inpost_payload: Request body for Receive Cash-Out API (required)
        :return: CashInpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postcash_in_0_with_http_info(cash_inpost_payload, **kwargs)
        else:
            (data) = self.postcash_in_0_with_http_info(cash_inpost_payload, **kwargs)
            return data

    def postcash_in_0_with_http_info(self, cash_inpost_payload, **kwargs):
        """
        Receive Cash-Out API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in_0_with_http_info(cash_inpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInpostPayload cash_inpost_payload: Request body for Receive Cash-Out API (required)
        :return: CashInpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cash_inpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postcash_in_0" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cash_inpost_payload' is set
        if ('cash_inpost_payload' not in params) or (params['cash_inpost_payload'] is None):
            raise ValueError("Missing the required parameter `cash_inpost_payload` when calling `postcash_in_0`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/transactions/receive/co'.replace('{format}', 'json')
        resource_path = 'pushpayment/transactions/receive/co'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'cash_inpost_payload' in params:
            body_params = params['cash_inpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashInpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postci_advice(self, ci_advicepost_payload, **kwargs):
        """
        Receive Cash-in Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postci_advice(ci_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CiAdvicepostPayload ci_advicepost_payload: Request body for Receive Cash-In Advice API (required)
        :return: CiAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postci_advice_with_http_info(ci_advicepost_payload, **kwargs)
        else:
            (data) = self.postci_advice_with_http_info(ci_advicepost_payload, **kwargs)
            return data

    def postci_advice_with_http_info(self, ci_advicepost_payload, **kwargs):
        """
        Receive Cash-in Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postci_advice_with_http_info(ci_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CiAdvicepostPayload ci_advicepost_payload: Request body for Receive Cash-In Advice API (required)
        :return: CiAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ci_advicepost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postci_advice" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ci_advicepost_payload' is set
        if ('ci_advicepost_payload' not in params) or (params['ci_advicepost_payload'] is None):
            raise ValueError("Missing the required parameter `ci_advicepost_payload` when calling `postci_advice`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/advice/receive/ci'.replace('{format}', 'json')
        resource_path = 'pushpayment/advice/receive/ci'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'ci_advicepost_payload' in params:
            body_params = params['ci_advicepost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CiAdvicepostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postco_advice(self, co_advicepost_payload, **kwargs):
        """
        Receive Cash-out Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postco_advice(co_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CoAdvicepostPayload co_advicepost_payload: Request body for Receive Cash-Out Advice API (required)
        :return: CoAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postco_advice_with_http_info(co_advicepost_payload, **kwargs)
        else:
            (data) = self.postco_advice_with_http_info(co_advicepost_payload, **kwargs)
            return data

    def postco_advice_with_http_info(self, co_advicepost_payload, **kwargs):
        """
        Receive Cash-out Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postco_advice_with_http_info(co_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CoAdvicepostPayload co_advicepost_payload: Request body for Receive Cash-Out Advice API (required)
        :return: CoAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['co_advicepost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postco_advice" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'co_advicepost_payload' is set
        if ('co_advicepost_payload' not in params) or (params['co_advicepost_payload'] is None):
            raise ValueError("Missing the required parameter `co_advicepost_payload` when calling `postco_advice`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/advice/receive/co'.replace('{format}', 'json')
        resource_path = 'pushpayment/advice/receive/co'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'co_advicepost_payload' in params:
            body_params = params['co_advicepost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CoAdvicepostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postreceive_p2_m(self, receive_p2_mpost_payload, **kwargs):
        """
        Receive Person-to-Merchant API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postreceive_p2_m(receive_p2_mpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReceiveP2MpostPayload receive_p2_mpost_payload: Request body for Receive Person-to-Merchant API (required)
        :return: ReceiveP2MpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postreceive_p2_m_with_http_info(receive_p2_mpost_payload, **kwargs)
        else:
            (data) = self.postreceive_p2_m_with_http_info(receive_p2_mpost_payload, **kwargs)
            return data

    def postreceive_p2_m_with_http_info(self, receive_p2_mpost_payload, **kwargs):
        """
        Receive Person-to-Merchant API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postreceive_p2_m_with_http_info(receive_p2_mpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReceiveP2MpostPayload receive_p2_mpost_payload: Request body for Receive Person-to-Merchant API (required)
        :return: ReceiveP2MpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['receive_p2_mpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postreceive_p2_m" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'receive_p2_mpost_payload' is set
        if ('receive_p2_mpost_payload' not in params) or (params['receive_p2_mpost_payload'] is None):
            raise ValueError("Missing the required parameter `receive_p2_mpost_payload` when calling `postreceive_p2_m`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/transactions/receive/p2m'.replace('{format}', 'json')
        resource_path = 'pushpayment/transactions/receive/p2m'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'receive_p2_mpost_payload' in params:
            body_params = params['receive_p2_mpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ReceiveP2MpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postreceive_p2_m_advice(self, receive_p2_m_advicepost_payload, **kwargs):
        """
        Receive Person-to-Merchant Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postreceive_p2_m_advice(receive_p2_m_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReceiveP2MAdvicepostPayload receive_p2_m_advicepost_payload: Request body for Receive Person-to-Merchant Advice API (required)
        :return: ReceiveP2MAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postreceive_p2_m_advice_with_http_info(receive_p2_m_advicepost_payload, **kwargs)
        else:
            (data) = self.postreceive_p2_m_advice_with_http_info(receive_p2_m_advicepost_payload, **kwargs)
            return data

    def postreceive_p2_m_advice_with_http_info(self, receive_p2_m_advicepost_payload, **kwargs):
        """
        Receive Person-to-Merchant Advice API specification
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postreceive_p2_m_advice_with_http_info(receive_p2_m_advicepost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReceiveP2MAdvicepostPayload receive_p2_m_advicepost_payload: Request body for Receive Person-to-Merchant Advice API (required)
        :return: ReceiveP2MAdvicepostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['receive_p2_m_advicepost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postreceive_p2_m_advice" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'receive_p2_m_advicepost_payload' is set
        if ('receive_p2_m_advicepost_payload' not in params) or (params['receive_p2_m_advicepost_payload'] is None):
            raise ValueError("Missing the required parameter `receive_p2_m_advicepost_payload` when calling `postreceive_p2_m_advice`")


        collection_formats = {}

        path = '/visadirect/v1/pushpayment/advice/receive/p2m'.replace('{format}', 'json')
        resource_path = 'pushpayment/advice/receive/p2m'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'receive_p2_m_advicepost_payload' in params:
            body_params = params['receive_p2_m_advicepost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ReceiveP2MAdvicepostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

# ----------------------------------------------------------------------------------------------------------------------
# © Copyright 2018 Visa. All Rights Reserved.
#
# NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
# and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
# rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
#
# By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
# (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
# programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
# THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
# FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
# ----------------------------------------------------------------------------------------------------------------------